#about .col-md-4 {
    margin: 0;
    padding: 0;
  }
  #about .section-title,
  #pricing .section-title {
    text-align: center;
  }
  #about .col-md-4:nth-child(3n) .team-thumb {
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
  }
  .team-thumb {
    background: #82BF26;
    position: relative;
    overflow: hidden;
  }
  .team-thumb-up:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #82BF26;
  }
  .team-thumb-down:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 15px solid #82BF26;
  }

  .team-thumb img {
    width: 100%;
  }

  .team-thumb-down:after {
    top: -15px;
    bottom: inherit;
    border-top: inherit;
    border-bottom: 15px solid #82BF26;
  }
  .team-info {
    position: relative;
    padding: 40px;
  }
  .team-info h2 {margin: 0;}
  .team-info small {
    display: block;
    font-size: 18px;
    margin: 5px 0 10px 0;
  }
  .team-thumb-up:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #82BF26;
  }
  .team-thumb-down:after {
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 15px solid #82BF26;
  }
  .team-thumb-down:after {
    top: -15px;
    bottom: inherit;
    border-top: inherit;
    border-bottom: 15px solid #82BF26;
  }

  #feature {
    background: #ffffff;
  }
  #feature .nav-tabs {
    border-bottom: 0;
  }

  #feature .nav>li>a {
    padding: 8px 0;
  }

  #feature .nav-tabs>li>a {
    color: #999999;
    font-size: 18px;
    border: 0;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    margin-right: 35px;
  }
  
  #feature .nav-tabs>li.active>a, 
  #feature .nav-tabs>li.active>a:focus, 
  #feature .nav-tabs>li.active>a:hover {
    background: transparent;
    color: #202020;
    /*border-bottom: 3px solid #29ca8e;*/
    border-bottom: 3px solid #9fcc5e;
  }

  #feature .nav>li>a:focus, 
  #feature .nav>li>a:hover {
    background: transparent;
    /*border-bottom: 3px solid #29ca8e;*/
    border-bottom: 3px solid #9fcc5e;
    color: #202020;
  }

  #feature .tab-content {
    margin-top: 50px;
  }
  .feature-image {
    position: absolute;
    bottom: -27em;
  }
  @media only screen and (max-width: 992px) {
  #feature .nav-tabs>li>a {
    font-size: 16px;
    margin-right: 20px;
  }
}

  .feature-image {
    bottom: -24em;
  }
  .feature-image {
    position: relative;
    bottom: 0;
  }
  .icons_media{
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 200px;
    border:1px solid #9fcc5e;
    padding:7px;
    display: block;
    margin: 15px;
  }
  .tab-pane-item {
    margin: 20px 0;
  }

  .tab-pane-item h2 {
    margin: 0 0 5px 0;
  }
  /*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  background:  #192440;
}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #9fcc5e;
}

.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.8);
}

.why-us .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.why-us .box:hover {
  background: #9fcc5e;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
  color: #fff;
}

/*INICIO*/
.about {
  background: url("../img/fondo.jpeg") center center;
  background-size: cover;
  position: relative; 
  padding: 80px 0;
}
.about:before {
  content: "";
  background: rgba(113, 161, 35, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.about .about-img {
  position: relative;
  transition: .5s;
}
.about .about-img {
  position: relative;
  transition: .5s;
}
.about .about-img img {
  max-width: 100%;
  border: 4px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
.about .about-img img {
  max-width: 100%;
  border: 4px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
.about .about-img::before {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  z-index: 1;
  content: '';
  border-left: 5px solid #9fcc5e;
  border-top: 5px solid #9fcc5e;
  transition: .5s;
}
.about .about-img::before {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  z-index: 1;
  content: '';
  border-left: 5px solid #9fcc5e;
  border-top: 5px solid #9fcc5e;
  transition: .5s;
}
.about .about-img::after {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  z-index: 2;
  content: '';
  border-right: 5px solid #9fcc5e;
  border-bottom: 5px solid #9fcc5e;
  transition: .5s;
}
.about .about-img:hover {
  transform: scale(1.03);
}

.about .about-img:hover::before {
  left: 10px;
  top: 10px;
}

.about .about-img:hover::after {
  right: 10px;
  bottom: 10px;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #9fcc5e;
}

.about .content p:last-child {
  margin-bottom: 0;
}
